@import "scss-mixins/boilerplate-top.scss";
@import "scss-mixins/mixins.scss";

$borderRadius: 5px;
$buttonShadow: 1px 2px 8px #444;
$profileShadow: 1px 2px 8px #CCC;
$boxShadow: 1px 2px 8px #CCC;

$green: #72bf44;
$darkGreen: #3c7c16;
$darkPurple: #821730;
$blue: #424d96;
$darkBlue: #152061;
$darkBlueHover: #0f1644;

$fullWidth: 787px;
$narrowWidth: 462px;

/***************************************************
 * Common elements
 **************************************************/

body { background: url(/images/header.png) repeat-x #fff 0 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; font-size: 14px; }

h1, h2, h3, h4, h5, h6 { color: $darkPurple; }
h1 { font-size: 19px; margin-bottom: 4px; }
h2 { margin-bottom: 10px; }

#main { min-height: 300px; }

.button { padding: 5px 10px; background-color: $darkBlue; color: #fff; border: none; font-size: 15px; outline: none; text-decoration: none; @include borderRadius($borderRadius); @include boxShadow($buttonShadow); cursor: pointer; }
.button:hover { background: $darkBlueHover; }

a.aButton { @extend .button; display: inline-block; }
a.aButton:hover { background: $darkBlueHover; }

header {
	padding: 0 20px; width: $fullWidth; height: 95px; margin: 0 auto; position: relative;
	h1 { height: 90px; width: 234px; right: 20px; top: 0; position: absolute; background: url(/images/logo.png) no-repeat; }
	a.home { text-decoration: none; }
	h2 { position: absolute; top: 0; left: 0; }
}

footer {
	padding: 40px 20px 20px; width: $fullWidth; margin: 0 auto; text-align: center;
	a { margin: 0 10px; font-size: 12px; color: #888888; text-decoration: none; }
	a:link, a:active, a:visited { color: #888888; text-decoration: none; }
	a:hover { color: #888888; text-decoration: underline; }
}

#loginFacebook, #loginLinkedIn, #loginTwitter { width: 52px; height: 52px; display: block; float: left; background: url(/images/login-sprite.png) no-repeat #FFF 0 0; }
#loginLinkedIn { background-position: 0 -52px; }
#loginTwitter { background-position: 0 -104px; }
#loginFacebook.loggedIn { background-position: -52px 0; }
#loginLinkedIn.loggedIn { background-position: -52px -52px; }
#loginTwitter.loggedIn { background-position: -52px -104px; }

.confirmation { padding: 10px; @include borderRadius($borderRadius); background: #FBF9EE; border: 1px solid #edcc7a; margin-top: 14px; }

#introducee1, #introducee2, #email { width: 260px; font-size: 18px; line-height: 18px; background-color: #FFF; border: 1px solid #CCC; padding: 10px; @include borderRadius($borderRadius); }

/***************************************************
 * Home page
 **************************************************/

.homePage {
	#main { width: 584px; padding: 0 20px; margin: 0 auto; }
	#formLogin {
		p { float: left; color: #888; padding: 16px 6px 0 6px; }
		#loginFirst { display: none; }
	}
	#formIntroduce {
		padding: 14px 0 20px;
		label { display: block; padding: 0 0 4px 6px; color: #888; }
		.introduceeInput1 { float: left; padding: 0 20px 20px 0; }
		.introduceeInput2 { float: left; padding: 0 0 20px 0; }
		.friendSelector {
			position: relative;
			.filteredFriends {
				display: none; width: 276px; padding: 2px; margin: 0; position: absolute; top: 63px; left: 0; background: #FFF; border: 1px solid #CCC; @include borderRadius(5px);
				li {
					display: block; height: 19px; padding: 2px 5px; list-style: none; @include borderRadius(5px);
					.iconFacebook, .iconLinkedIn, .iconTwitter { width: 16px; height: 19px; float: right; margin-left: 4px; background: url(/images/autocomplete-sprite.png) no-repeat transparent 0 2px; }
					.iconLinkedIn { background-position: -16px 2px; }
					.iconTwitter { background-position: -32px 2px; }
					&.filtered { display: none; }
					&:hover, &.hover { background: $green; color: #FFF; }
				}
			}
		}
		textarea { @extend #introducee1; width: 564px; height: 67px; margin-bottom: 20px; line-height: 22px; }
		.submit { @extend .button; float: right; }
		.help { font-size: 12px; float: right; margin: 8px 15px 0 0; }
	}

	#previousIntroductions {
		padding: 10px 0; text-align: center;
		p { font-size: 13px; margin: 0; }
		time { font-size: 12px; color: #888888; display: block; margin: 0 0 10px; }
	}
	#info {
		width: 400px; margin: 0 auto; padding: 20px 0;
		p { text-align: center; }
	}
}

/***************************************************
 * View introduction page
 **************************************************/
.viewIntroductionPage {
	#main { width: $fullWidth; padding: 0 20px; margin: 0 auto; }
	.login {
		width: 462px; margin: 60px auto 0; padding: 20px; -moz-border-radius: $borderRadius; border-radius: $borderRadius; box-shadow: $boxShadow; -webkit-box-shadow: $boxShadow; -moz-box-shadow: $boxShadow;
		.loginIcons { margin: 10px 0 0 -9px; }
		img { float: right; margin: 0 0 10px 10px; }
		.faqsContainer {
			clear: both; position: relative; padding-top: 17px;
			#btnFaqs { text-align: right; position: absolute; right: 0; top: 0; }
		}
		#faqs {
			display: none;
			h2 { margin: 0 0 4px 0; }
			p { margin: 0 0 16px 0; }
		}
	}
	.col1 { width: 462px; float: left; padding-right: 20px; }
	.col2 { width: 305px; float: right; }
		
	#formMessage {
		padding: 14px 0 20px; width: 462px; margin: 0 auto;
		textarea { @extend .autocomplete; font-size: 16px; line-height: 20px; width: 440px; height: 61px; margin-bottom: 10px; }
		.submit { @extend .button; float: right; }
		#message.invalid { border: 1px solid #CD0A0A; }
	}

	#formEmail {
		padding: 10px; border-radius: $borderRadius; -moz-border-radius: $borderRadius; margin: 14px 0 0; background: #ADDf90; border: 1px solid $green;
		label { display: block; padding: 0 0 4px 0; }
		#email { font-size: 16px; float: left; margin-right: 10px; }
		#email.invalid { border: 1px solid #CD0A0A; }
		.submit { @extend .button; float: left; margin: 5px 0; }
	}

	.displayingMessages { padding: 0 0 4px; border-bottom: 1px solid #CCC; font-size: 12px; }
	#messages {
		.message {
			padding: 20px 0 10px 0; border-bottom: 1px solid #CCC;
			h2 { float: left; }
			time { float: right; font-size: 12px; }
			p { clear: both; }
		}
	}
	
	.linkedInProfile { width: 295px; padding: 5px; margin: 0 0 20px 0; box-shadow: $profileShadow; -webkit-box-shadow: $profileShadow; -moz-box-shadow: $profileShadow; }
	.linkedInProfile iframe { width: 295px !important; height: auto !important; }

	.facebookProfile {
		width: 295px; padding: 5px; margin: 0 0 20px 0; box-shadow: $profileShadow; -webkit-box-shadow: $profileShadow; -moz-box-shadow: $profileShadow;
		.facebookLogo { padding: 0 0 2px 4px; border-bottom: 1px solid #CCC; margin: 0 0 10px 0; }
		.facebookLogo img { height: 15px; width: 53px; }
		.profilePic { float: left; margin-right: 10px; }
		h2, p { color: #3B5998; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; }
		h2 { margin-bottom: 4px; font-size: 19px; }
		a, a:hover { color: #3B5998; text-decoration: none; }
		p { font-size: 12px; }
	}

	.twitterProfileWidget {
		width: 305px; margin: 0 0 20px 0; box-shadow: $profileShadow; -webkit-box-shadow: $profileShadow; -moz-box-shadow: $profileShadow;
	}
	.twitterProfile {
		width: 295px; padding: 5px; margin: 0 0 20px 0; box-shadow: $profileShadow; -webkit-box-shadow: $profileShadow; -moz-box-shadow: $profileShadow;
		.twitterLogo { padding: 0 0 2px 4px; border-bottom: 1px solid #CCC; margin: 0 0 10px 0; }
		.twitterLogo img { height: 15px; width: 62px; }
		.profilePic { float: left; margin-right: 10px; }
		h2, p { color: #2276BB; font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif; }
		h2 { margin-bottom: 4px; font-size: 19px; }
		a, a:hover { color: #2276BB; text-decoration: none; }
		p { font-size: 12px; }
		.screenName { display: block; font-size: 15px; }
	}
}

/***************************************************
 * Other minor pages
 **************************************************/

.sendIntroductionPage {
	#main { width: $narrowWidth; padding: 0 20px; margin: 0 auto; }
	.desc { margin-bottom: 10px; }
	.sendIntroduction { width: 462px; margin: 60px auto 0; padding: 20px; -moz-border-radius: $borderRadius; border-radius: $borderRadius; box-shadow: $boxShadow; -webkit-box-shadow: $boxShadow; -moz-box-shadow: $boxShadow; }
}

.settingsPage { 
	#main { width: $narrowWidth; padding: 0 20px; margin: 0 auto; }
	.networks { margin-bottom: 16px; }
	.connect, .disconnect { display: block; float: left; margin: 15px 0 0 10px; }
	#formEmail {
		#email { font-size: 16px; float: left; margin-right: 10px; }
		#email.invalid { border: 1px solid #CD0A0A; }
		.submit { @extend .button; float: left; margin: 5px 0; }
	}
}

.mergeAccountsPage {
	#main { width: $narrowWidth; padding: 0 20px; margin: 0 auto; }
	.question { font-weight: bold; margin-bottom: 16px; }
	a.profile { display: block; width: 400px; margin: 0 0 10px 0; font-size: 15px; text-decoration: none; }
	a.profile img { display: inline-block; margin-right: 5px; vertical-align: middle; width: 48px; height: 48px; background-color: #F4F4F4; }
	.no, .yes { float: left; margin: 10px 20px 20px 0; }
	.inputsubmit { @extend .button; }
	.note { clear: both; }
}

.aboutPage {
	#main { width: $narrowWidth; padding: 20px 20px 0; margin: 0 auto; }
	h2 { margin: 0 0 4px 0; }
	p { margin: 0 0 16px 0; }
	.author { margin: 30px 0 16px 0; }
}

@import "scss-mixins/boilerplate-bottom.scss";

